body {
  margin: 0px;  
}

@font-face {
  font-family: 'Gora Free';
  src: url('Templates/fitness/fonts/Gora-Free.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('Templates/fitness/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('./templates/fitness/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('templates/fitness/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('templates/fitness/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('templates/fitness/fonts/OpenSans-Light.ttf');
}

.header {
 background: black;
}

.container {
  background:#000;
  margin: 0 auto;
  width: 1060px;
}

.header__container {
  position: relative;
  height: 77px;
}

.ws-name {
  position: absolute;
  top: 31px;
  left: 0; 
  color: #f89513;
  text-decoration: none;
  font-family: 'Gora Free';
}

.contacts {
  position: absolute;
  top: 16px;
  right: 0;
}

.contacts_phone {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  text-align: right;
  font-family: 'OpenSans-Bold';
  font-size: 21px;
}

.business-hours {
  text-align: right;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
}

.business-hours-link {
  color: #f89513;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #f89513;
}

.business-hours-link {
  border-width: 1px;
}

nav {
  padding-top: 36px;
}

.ws-nav-list {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;

}

.ws-nav-list-line {
  vertical-align: middle;
  display: inline;
  list-style: none;
}

.ws-nav-list-item-link {
  vertical-align: middle;
}

.ws-nav-list-item-link {
  text-decoration: none;
}

.ws-nav-list-item {
  color: #fff;
  list-style: none;
  display: inline;
  list-style: none;
  padding-right: 25px;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
}

.ws-nav-list-item {
  margin-left: 10px;
}

nav {
  margin-left: 33%;
  padding: 25px 0px;
}

.ws-nav-list-item-link img {
  padding:  0px;
}

.nike-motto-container {
  max-width: 100%;
  height: 625px;
  text-align: center;
}

.nike-motto:before {
  display: inline-block;
  content: "";
  height: 100%;
} 

.nike-motto {
  margin-top: 78px;
  margin-bottom: 58px;
  display: inline-block; 
} 

/* .nike-motto {
  /* display: block; 
  text-align: center;
  margin: 5% auto;
} */

.features {
  max-width: 100%;
  height: 285pt;
  background: #000;
  position: relative;
  /* padding: 66px; */
  padding: 11.6% 8.5% 18% 8.5%;
}

.features-header {
  font-family: "OpenSans-Bold";
  font-size: 49px;
  color: #fff;
  text-align: center;
  background: none;
}

.features-block {
  max-width: 100%;
  font-family: 'OpenSans-Light';
  text-align: center;
}

.key-features-list {
  list-style: none;
  padding: 0;
}

.key-features-item {
  font-family: 'OpenSans-Light';
  font-size: 18px;
  display: inline-block;
  text-align: justify;
  padding: 33.7px;
  max-width: 100%;
}

.key-features-list-in-list .key-features-block-list {
  list-style: disc;
  color: #fff;
  margin-left: -10px;
  font-family: 'OpenSans-Regular';
  font-size: 18px;
}

.key-features-block-list{
  list-style: disc;
  color: #fff;
}

.key-features-block-item {
  text-align: left;
  color: #fff;
  line-height: 35px;
}

.key-features-text {
  color: #fff;
  width: 165.5pt;
  text-align: center;
  font-family: 'OpenSans-Regular';
  font-size: 18px;
  margin-top: 31px
}

.key-features-pic {
  position: relative;
  height: 100px;
  max-width: 100%;
  display: block;
  padding: 20px 70px 0px;
}

.flower {
  position: absolute;
  transform: translate(85%,-150%);
}

.star {
  position: absolute;
  transform: translate(65%,-150%);
}

.palette {
  position: absolute;
  transform: translate(80%,-150%);
}

.background {
  width: 72px;
  height: 72px;
  background: #f89513;
  border-radius: 50%;
}

.key-features-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.latest-news {
float: left;
padding-bottom: 0px;
/*background: red;*/
margin-bottom: 0px;
}

.latest-news-section {
  /* background: yellow; */
}

.latest-news-list {
  padding: 0;
  margin: 0;
}

.latest-news-header {
  font-family: "OpenSans-Bold";
  font-size: 49px;
  color: #000;
  text-align: center;
  background: none;
  padding-top: 69px;
  padding-bottom: 41px;
}

.latest-news-item {
  list-style: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.latest-news-item-pic {
  display: inline-block;
  float: left;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.latest-news-block {
  padding-left: 5px;
  padding-top: 30px;
}

.ln-borders {
  border-top: 2px rgb(245 245 245) solid;
  border-bottom: 2px rgb(245 245 245) solid;
}

.latest-news-date {
  color: rgb(101 100 100);
  font-size: 14px;
  font-weight: 300; 
  line-height: 21px;
}

.latest-news-block-header {
  line-height: 21px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.latest-news-block-text, p {
  color: rgb (34 31 31);
  line-height: 30px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 18px;
}




  


.latest-news-section, .sidebar-news {
  display: inline-block;
  vertical-align: top;
}

.latest-news {
  width: 900px;
}

.sidebar-news {
  width: 175px;
  height: 700px;
  text-align: left;
  /* background: yellow; */
  padding-left: 25px;
  /*background: green;*/
  padding-top: 30px;
}

.sidebar-news-item {
  transform: translateX(-25%);
}

.sidebar-news-link {
}

.sidebar-news-item {
  list-style: none;
  padding-bottom: 20px;
}

.sidebar-news-header, .sidebar-news-period {
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 12px;
}

.sidebar-news h3 {
  color: rgb(34 31 31);
  letter-spacing: 1.4pt;
  margin-top: 0;
}

.sidebar-news p {
  color: rgb(101 100 100);
  letter-spacing: 1.4pt;
}



.pager {
  /*background: #f89513;*/
  padding-bottom: 65px;
}

.pager-container {
  transform: translateX(35%)
}

.pages-pages {
  font-family: 'Roboto', sans-serif;
  color: rgb(34 31 31);
  font-weight: 700;
}

.pager-display {
  float: left;
  padding-top: 3px;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(101 100 100);
}

.pages-button-preview-lt {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  float: left;
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 20px;
  color: rgb(101 100 100)
} 

.pages-button-preview-gt {
  display: inline-block;
  text-decoration: none;
  padding-top: 1px;
  color: rgb(101 100 100);
  padding-left: 15px;
} 

.pages-list {
  color: rgb (34 31 31);
  font-weigt: 700;
}

.pagination-link {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  float: left;
  padding-top: 3px; 
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 700;
}

.pages-item {
  list-style: none;
  float: left;
  display: inline-block;
  color: #000;
  background: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 10%;
}

.pages-item:nth-child(1) {
  list-style: none;
  float: left;
  display: inline-block;
  background: #000;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 10%;
}

.pages-one {
  color: #fff;
}

.footer {
  background:#000;
  padding: 0px;
  max-height: 100%;
}

.copyright p{
  width: 240px;
  font-family: 'OpenSans-Light', sans-serif;
  color: #fff;
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: left;
  line-height: 18px;
  display: inline-block;
  margin: 0px;
  /*float: left;*/
}

.ws-name-footer {
  color: #f89513;
  text-decoration: none;
  font-family: 'Gora Free';
  /*transform: translateX(17%)*/
  position: absolute;
  top: 30px;
  left: 460px;
}

.social-media-header {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  height: 0;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-container {
  position: relative;
  margin: 0 auto;
  width: 1060px;
  height: 85px; 
}

.social-pic {
  list-style: none;
  display: inline;
}

.social-media-item {
  height: 20px;
  width: 20px;
  background: rgb(208 208 208);
  border-radius: 50%;
}

.social-media-item-vk {
  height: 20px;
  width: 20px;
  background: #f89513;
  border-radius: 50%;
}

.social-media-item, .social-media-item-vk {
  list-style: none;
  display: inline-block;
}

.social-media {
  position: absolute;
  top: 26px;
  right: 0px;
}

.vk {
  position: absolute;
  transform: translate(25%,0%);
}

.fb {
  position: absolute;
  transform: translate(105%,10%);
}

.google {
  position: absolute;
  transform: translate(25%,0%);
}

.twitter {
  position: absolute;
  transform: translate(35%,0%);
}

.mail {
  position: absolute;
  transform: translate(35%,0%);
}



